*{

	margin: 0;
	padding: 0;
	font-family: 'Times New Roman' , sans-serif; 
}

.navbar{

	background-color: #6C6969;
	height:80px;

}

.navbar>img{
	float: left;
	width: 100px;
	height: 80px;
	padding-left: 50px;
}

.navbar ul{
	border-right: 1px solid black;
	list-style: none;
}

.navbar ul li{
	float: right;
	position: relative;


}



.navbar ul li a{
	
	color: white;
	font-size: 17px;
	text-decoration: none;
	padding: 30px 35px;
	display: block;

}

.navbar ul li:hover ul{
	display: block;
	position: absolute;
}

.navbar ul li ul{
	display: none;
}

.navbar ul li:hover ul li a{
padding: 5px 20px;
	background-color:#A7A1A1;
	color:white;
	width:150px;
	height: 20px;
	border-bottom:1px solid white;
}

.navbar ul li:hover ul li a:hover{
	background-color:#6C6969;
	cursor:pointer;

	color:black;
	
}

#slideshow{
	z-index: -1;
}

#slideshow .item img{

	width:100%;

	height:620px;
}

#slideshow .owl-controls{
	position:relative;
	bottom:63px;
	width:100%;
	z-index:999;
}

#slideshow .owl-controls .owl-page span{
	background:#efefef;
	width:10px;
	height:10px;
	border:0;
}

#slideshow .owl-controls .owl-page.active span, #slideshow .owl-controls.clickable .owl-page:hover span{
	background:#2BF5F7; /* buletan */
	width:12px;
	height:12px;
}

#slideshow .owl-prev, #slideshow .owl-next{
	background:transparent;
	position:absolute;
	color:#000;
	top:-350px;
	font-size:70px;
	width:15%;
	opacity:.5;
	text-shadow: 0 1000px 2000px rgba(0,0,0);
}

#slideshow .owl-prev{
	left:0;
	margin-top: 100px;
	color:black;
}

#slideshow .owl-next{
	margin-top: 100px;
	right:0;
	color:black;
}

/* END SLIDESHOW */
.content{
margin-top: 20px;

}
.content h4{
	text-align: center;
	font-size: 25px;
}

.content-utama{
	
	font-size: 20px;
	margin: 30px;
}

.content-utama-hubungi{
	text-align: center;
	padding-bottom: 10px;
	font-size: 20px;
	margin: 30px;
}

.content-utama h4 {
	text-align: center;
	margin-bottom: 20px;


}

.content-utama p{
	text-indent: 40px;
}

.content-utama ul li{
	margin-left: 45px;
}

.bottom-tari{
	
	height: 20px;
	border-bottom: 2px solid black;
}


/* bagian content */

.content-1{
	float: left;
	padding-left: 120px;
}
.content-1 img{
	height:250px;
	width: 350px;
	
}

.content-2{
	float: left;
	padding-left: 20px;
}
.content-2 img{
	height:250px;
	width: 350px;
	
}

.content-3{
	float: left;
	padding-left: 20px;
}
.content-3 img{
	height:250px;
	width: 350px;
	
}

.content-4{
	float: left;
	padding-left: 120px;
}
.content-4 img{
	height:250px;
	width: 350px;
	
}

.content-5{
	float: left;
	padding-left: 20px;
}
.content-5 img{
	height:250px;
	width: 350px;
	
}
.content-6{
	float: left;
	padding-left: 20px;
}
.content-6 img{
	height:250px;
	width: 350px;
	
}


.footer{
	clear: both;
	background-color: #6C6969;
	height: 80px;
	color: white;
	


}

.footer b{
	line-height: 80px;
	padding-left: 120px;
	float: left;
}


.footer a{
	line-height: 80px;
	margin-right: 120px;
	float: right;
	color: white;
	text-decoration: none;
}


.footer a i{
	padding-right: 20px;
	
}

